[Unit]
Description=Node Exporter Version {{ node_exporter_version }}
After=network-online.target
[Service]
User=manu}
Group=users
Type=simple
ExecStart={{ node_exporter_bin }}
[Install]
WantedBy=multi-user.target